{% extends 'public/Order/base.html' %}
{% block section %}
{% load static %}
<link href="{% static 'css/product.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
<style>
.input-padding {
    padding: 5px!important;
}
.input-padding2 {
    padding: 15px!important;
}
.select2-container{width:100%!important}
b{margin-top: 2px !important}
.select2-selection{
    border: 1px solid #ced4da!important;
    height: calc(1.5em + .75rem + 2px)!important;
    padding: .2rem .25rem !important;
}
.total-price-right {
    text-align: right;
}
.product-detail-confirm {
    padding: 0 10px!important;
}
.price-bill {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.bill {
    margin: 20px 0;
}
.price-bill-color {
    background-color: #f8f8f8;
    margin: 10px 0;
}
.w-input1 {
    margin-bottom: 0px;
}
input[type="radio"] {
    box-shadow:0 0 0 1px #932;
    appearance:none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color:#fff;
    padding: 0px;
}
input[type="radio"]:checked {
    background: #f64749;
    border: 2px solid #f64749;
}
</style>
<div class="section">
    <div class="w-container1">
        <div class="w-dyn-list">
            {% comment %} <a href="{% url 'cart' %}" class="button w-button">◄ Quay lại</a> {% endcomment %}
            <form method="post" autocomplete="on" enctype="multipart/form-data"
                action="">
                <div role="list" class="w-clearfix w-dyn-items w-row">
                    <div class="w-col w-col-small-7 w-col-medium-7 w-col-7">
                        <div>
                            <h3 class="checkout__heading">Thông tin nhận hàng</h3>
                            <div class="form-info">
                                <input type="hidden" name="key_current_time" value="{{key_current_time}}">
                                <div class="w-row">
                                    <div class="w-col w-col-small-6 w-col-medium-6 w-col-6 input-padding">
                                        <input type="text" name="full-name" 
                                            disabled value="{{full_name}}"
                                            class="w-input" placeholder="Họ tên">
                                    </div>
                                    <div class="w-col w-col-small-6 w-col-medium-6 w-col-6 input-padding">
                                        <input type="text" name="phone-number" 
                                            length="10" disabled
                                            value="{{phone_number}}"
                                            class="w-input" placeholder="Số điện thoại">
                                    </div>
                                </div>
                                <div class="w-row">
                                    <div class="w-col w-col-small-12 w-col-medium-12 w-col-12 input-padding">
                                        <input type="email" name="email"
                                            disabled value="{{email}}"
                                            class="w-input" placeholder="Địa chỉ email">
                                    </div>
                                </div>
                                <div class="w-row">
                                    <div class="w-col w-col-small-6 w-col-medium-6 w-col-6 input-padding">
                                        <input type="text" name="city" 
                                            disabled
                                            value="{{city}}"
                                            class="w-input">
                                    </div>
                                    <div class="w-col w-col-small-6 w-col-medium-6 w-col-6 input-padding">
                                        <input type="text" name="district" 
                                            disabled
                                            value="{{district}}"
                                            class="w-input">
                                    </div>
                                </div>
                                <div class="w-row">
                                    <div class="w-col w-col-small-12 w-col-medium-12 w-col-12 input-padding">
                                        <input type="text" name="address-detail"
                                            disabled value=""
                                            class="w-input" placeholder="Địa chỉ giao hàng">
                                    </div>
                                </div>
                                <div class="w-row">
                                    <div class="w-col w-col-small-12 w-col-medium-12 w-col-12 input-padding">
                                        <input type="text" name="note" 
                                            disabled value=""
                                            class="w-input" placeholder="Lưu ý đặc biệt">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 class="checkout__heading">Hình thức thanh toán</h3>
                            <div class="form-info">
                                <div class="w-row img-select price-bill price-bill-color">
                                    <div class="w-col w-col-small-12 w-col-medium-12 w-col-12 input-padding">
                                        <input type="text" name="payment" 
                                            disabled value="{{payment}}"
                                            class="w-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-small-5 w-col-medium-5 w-col-5">
                        <h3 class="checkout__heading">Sản phẩm</h3>
                        {% for product_item in list_product_item_cart %}
                            <div class="w-col w-col-small-3 w-col-medium-3 w-col-3">
                                <img src="/{{product_item.product_image.product_image_path}}"
                                    alt="{{product_item.product_image.product_image_name}}">
                            </div>
                            <div class="w-col w-col-small-9 w-col-medium-9 w-col-9 product-detail-confirm">
                                <h3 class="p-0">
                                    <a href="{% url 'public-product-detail' product_id=product_item.product.product_id %}"
                                        class="btn-remove" target="_blank">
                                    {{product_item.product.product_name}} - {{product_item.product.product_code}}
                                    </a>
                                </h3>
                                <p class="p-0">Size:
                                    <span id="">
                                        {{product_item.product_size.product_size_name}}
                                    </span>
                                </p>
                                <p class="p-0">Màu: 
                                    <span id="">
                                        {{product_item.product_color.product_color_name}}
                                    </span>
                                </p>
                                <p class="">Số lượng: 
                                    <span id="">
                                    {{product_item.quantity}}
                                    </span>
                                </p>
                                <p class="w-col"> 
                                    <span class="w-col w-col-tiny-6 w-col-small-6 w-col-medium-6 w-col-6">Giá:
                                    {{product_item.product_detail.product_public_price}}
                                    </span>
                                    <span class="w-col w-col-tiny-6 w-col-small-6 w-col-medium-6 w-col-6 total-price-right">
                                    {{product_item.total_price_item}}
                                    </span>
                                </p>
                            </div>
                        {% endfor %}
                        <div class="w-col product-detail-confirm bill">
                            <p class="img-select price-bill">Tạm tính: 
                                <span id="">
                                    {{total_bill}}
                                </span>
                            </p>
                            <p class="img-select price-bill">Phí vận chuyển: 
                                <span id="">
                                30000
                                </span>
                            </p>
                            <p class="img-select price-bill">Tổng cộng: 
                                <span id="">
                                {{total_bill|add:'30000'}}
                                </span>
                            </p>
                        </div>
                        <input type="submit" class="button button-red w-button w-col" value="Mua ngay">
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>
<script>
</script>
{% endblock %}