{% extends 'public/Product/base.html' %}
{% block section %}
{% load static %}
<link href="{% static 'css/product.css' %}" rel="stylesheet" type="text/css" />
<style>
.img-main {
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}
.img-showcase {
    display: flex;
    align-items: center;
}
.btnlike{
    display : none;
}
.product-in-stock {
    padding-top: 15px;
    padding-bottom: 15px;
}
</style>
<div class="section">
    <div class="w-container1">
        <div class="card-wrapper">
            <div class="card">
                <div class="product-imgs">
                    <div class="img-display">
                        <div class="img-showcase">
                            {% for product_image in list_product_image %}
                                <img src="/{{product_image.product_image_path}}"
                                    alt="{{product_image.product_image_name}}" 
                                    class="img-main">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="img-select">
                        {% for product_image in list_product_image %}
                            <div class="img-item">
                                <a href="#" data-id="{{forloop.counter}}">
                                    <img src="/{{product_image.product_image_path}}" class="img-main"
                                        alt="{{product_image.product_image_name}}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="product-content">
                    <h2 class="product-title1">{{product.product_code}} {{product.product_name}}</h2>
                    {% comment %} <a href="#" class="product-link">visit nike store</a> {% endcomment %}

                    <div class="product-price">
                        <p class="last-price1">Giá: <span id="product-price">{{min_public_price}}</span></p>
                        {% comment %} <p class="new-price">New Price: <span>$249.00 (5%)</span></p> {% endcomment %}
                    </div>

                    <div class="purchase-info">
                        <div class="w-row">
                            <div class="w-col w-col-small-3 w-col-medium-3 w-col-3">
                                Màu
                            </div>
                            <div class="w-col w-col-small-9 w-col-medium-9 w-col-9">
                                <div class="w-row" id="color">
                                {% for product_color in list_product_color %}
                                    <label class="w-col w-col-tiny-3 w-col-small-3 w-col-medium-3 w-col-3 product-option">
                                        <input class="btnlike color" type="checkbox" 
                                            name="color[]" onclick="onlyOneColor(this)"
                                            value="{{product_color.product_color_id}}">
                                        <span>{{product_color.product_color_name}}</span>
                                    </label>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-row">
                                <div class="w-col w-col-small-3 w-col-medium-3 w-col-3">
                                    Size
                                </div>
                                <div class="w-col w-col-small-9 w-col-medium-9 w-col-9">
                                    <div class="w-row" id="size">
                                    {% for product_size in list_product_size %}
                                        <label class="w-col w-col-tiny-3 w-col-small-3 w-col-medium-3 w-col-3 product-option">
                                            <input class="btnlike size" type="checkbox"
                                                name="size[]" onclick="onlyOneSize(this)"
                                                value="{{product_size.product_size_id}}">
                                            <span>{{product_size.product_size_name}}</span>
                                        </label>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-row">
                                <div class="w-col w-col-small-3 w-col-medium-3 w-col-3">
                                    Số lượng
                                </div>
                                <div class="w-col w-col-small-9 w-col-medium-9 w-col-9">
                                    <div class="w-row">
                                        <div class="number-input w-col w-col-small-6 w-col-medium-6 w-col-6">
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown();
                                                onchangeInputQuantity(this.parentNode.querySelector('input[type=number]').value)" ></button>
                                            <input class="quantity" min="1" max="{{total_product_in_stock}}"
                                                name="quantity" value="1" maxlength="{{length_total_product_in_stock}}" 
                                                type="number" id="quantity"
                                                onchange="onchangeInputQuantity(this.value)"
                                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp();
                                                    onchangeInputQuantity(this.parentNode.querySelector('input[type=number]').value)"
                                                    class="plus"></button>
                                        </div>
                                        <div class="w-col w-col-small-6 w-col-medium-6 w-col-6 product-in-stock">
                                            Còn <span id="product-in-stock">{{total_product_in_stock}}</span> sản phẩm
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-col w-col-small-7 w-col-medium-7 w-col-7">
                                <form method="post" autocomplete="on" enctype="multipart/form-data"
                                    action="{% url 'cart-item-insert' product_id=product.product_id %}"
                                    onsubmit="return onSubmitAddItem()">
                                    <input type="hidden" name="add-cart-product" 
                                        id="add-cart-product" value="{{product.product_id}}"/>
                                    <input type="hidden" name="add-cart-size"
                                        id="add-cart-size" value=""/>
                                    <input type="hidden" name="add-cart-color"
                                        id="add-cart-color" value=""/>
                                    <input type="hidden" name="add-cart-cookie-key"
                                        id="add-cart-cookie-key" value=""/>
                                    <input type="hidden" name="add-cart-quantity"
                                        id="add-cart-quantity" value="1"/>
                                    {% csrf_token %}
                                    <button type="submit" class="button button-red-pink w-button">
                                    Thêm vào giỏ hàng (<span id="total-item-cart"></span>)
                                    </button>
                                </form>
                            </div>
                            <div class="w-col w-col-small-5 w-col-medium-5 w-col-5">
                                <button type="button" class="button button-red w-button">
                                Mua ngay<i class="bxs-cart-download"></i>
                                </button>
                            </div>
                        </div>
                        
                    </div>

                    <div class="product-detail">
                        {{product.product_description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-container1">
        <div class="">
            <div class="w-row">
                {% autoescape off %}
                    {{product.product_detail}}
                {% endautoescape %} 
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/webjs/fetchdata.js' %}"></script>
<script>
const imgs = document.querySelectorAll('.img-select a');
const imgBtns = [...imgs];
const defaultPrice = '{{min_public_price}}';
const defaultProductInStock = {{total_product_in_stock}};
const maxLengthDefaultProductInStock = {{length_total_product_in_stock}};
let listProductDetail = [];
{% for product_detail in list_product_detail %}
    listProductDetail.push({
        'product_detail_id': {{product_detail.product_detail_id}},
        'product_id': {{product_detail.product_id.product_id}},
        'product_color_id': {{product_detail.product_color_id.product_color_id}},
        'product_size_id': {{product_detail.product_size_id.product_size_id}},
        'product_in_stock': {{product_detail.product_in_stock}},
        'product_public_price': {{product_detail.product_public_price}},   
    });
{% endfor %}
let imgId = 1;
function makeCode(length) {
    let result = '';
    let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    let charactersLength = characters.length;
    for (let i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
   return result;
}
function getCookie(name) {
    let v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
    return v ? v[2] : undefined;
}
let code = getCookie('uc_code');

if (code == undefined) {
    code = makeCode(60);
    let maxAge = 365 * 24 * 60 * 60;
    document.cookie = 'uc_code= '+ code + '; secure; path=/; max-age=' + maxAge;
}
document.getElementById('add-cart-cookie-key').value = code;

imgBtns.forEach((imgItem) => {
    imgItem.addEventListener('click', (event) => {
        event.preventDefault();
        imgId = imgItem.dataset.id;
        slideImage();
    });
});
function onlyOneColor(checkbox) {
    var checkboxes = document.getElementsByName('checked');
    document.querySelectorAll('.color').forEach(function(item) {
        if (item !== checkbox) item.checked = false
    });
    setPrice();
}
function onlyOneSize(checkbox) {
    var checkboxes = document.getElementsByName('checked');
    document.querySelectorAll('.size').forEach(function(item) {
        if (item !== checkbox) item.checked = false
    });
    setPrice();
}
function setPrice() {
    let size;
    let color;
    var listSize = document.querySelectorAll('#size input[type="checkbox"]:checked');
    for (var i = 0; i < listSize.length; i++) size = listSize[i].value;
    var listColor = document.querySelectorAll('#color input[type="checkbox"]:checked');
    for (var i = 0; i < listColor.length; i++) color = listColor[i].value;
    if (size != undefined && color != undefined) {
        checkColorAndSize(color, size);
    } else if (size == undefined && color == undefined) {
        document.getElementById('product-price').innerHTML = defaultPrice;
        document.getElementById('product-in-stock').innerHTML = defaultProductInStock;
        document.getElementById('quantity').max = defaultProductInStock;
        document.getElementById('quantity').maxLength = maxLengthDefaultProductInStock;
    }
    setFormAddCart(size, color);
}
function setFormAddCart(size, color) {
    let valueSize = 0;
    let valuecolor = 0;
    if (size != undefined) {
        valueSize = size;
    }
    if (color != undefined) {
        valuecolor = color;
    }
    document.getElementById('add-cart-color').value = valuecolor;
    document.getElementById('add-cart-size').value = valueSize;
}
function onchangeInputQuantity(value) {
    document.getElementById('add-cart-quantity').value = value;
}
function onSubmitAddItem(){
    console.log('onsubmit');
    let inputProduct = document.getElementById('add-cart-product').value;    
    let inputSize = document.getElementById('add-cart-size').value;
    let intputColor = document.getElementById('add-cart-color').value;
    let intputCookieKey = document.getElementById('add-cart-cookie-key').value;
    let intputQuantity = document.getElementById('add-cart-quantity').value;
    if (inputProduct == 0 || inputSize == 0 || intputColor == 0 || intputQuantity == 0)
        return false;
    if (intputCookieKey == '' || intputCookieKey != code) {
        location.reload();
    }
    return true;
}
function checkColorAndSize(color, size) {
    for (let i = 0; i < listProductDetail.length; i++ ) {
        if (listProductDetail[i].product_color_id == color && listProductDetail[i].product_size_id == size) {
            document.getElementById('product-price').innerHTML = listProductDetail[i].product_public_price;
            document.getElementById('product-in-stock').innerHTML = listProductDetail[i].product_in_stock;
            document.getElementById('quantity').max = listProductDetail[i].product_in_stock;
            document.getElementById('quantity').maxLength = listProductDetail[i].product_in_stock.toString().length;
        }
    }
}
function slideImage(){
    const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;
    document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
}

window.addEventListener('resize', slideImage);
function setCountItemCart() {
    // Call api get count item cart
    console.log(code);
    let api = window.location.protocol + '//' + window.location.host + '/api/cart/' + code + '/';
    let item = fetchApi(api);
    let itemPromise = Promise.resolve(item);
    itemPromise.then(function(value) {
        console.log(value.count);
        let countItem = 0;
        if (value.count != undefined) {
            countItem = value.count;
        }
        document.getElementById('total-item-cart').innerHTML = countItem;
    })
}
setCountItemCart();
</script>
{% endblock %}