{% extends 'public/Product/base.html' %}
{% block section %}
{% load static %}
<link href="{% static 'css/product.css' %}" rel="stylesheet" type="text/css" />
<style>
.img-main {
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}
.img-showcase {
    display: flex;
    align-items: center;
}
.btnlike{
    display : none;
}
.product-in-stock {
    padding-top: 15px;
    padding-bottom: 15px;
}
</style>
<div class="section">
    <div class="w-container1">
        <div class="card-wrapper">
            <div class="card">
                <div class="product-imgs">
                    <div class="img-display">
                        <div class="img-showcase">
                            {% for product_image in list_product_image %}
                                <img src="/{{product_image.product_image_path}}"
                                    alt="{{product_image.product_image_name}}" 
                                    class="img-main">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="img-select">
                        {% for product_image in list_product_image %}
                            <div class="img-item">
                                <a href="#" data-id="{{forloop.counter}}">
                                    <img src="/{{product_image.product_image_path}}" class="img-main"
                                        alt="{{product_image.product_image_name}}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="product-content">
                    <h2 class="product-title1">{{product.product_code}} {{product.product_name}}</h2>
                    {% comment %} <a href="#" class="product-link">visit nike store</a> {% endcomment %}

                    <div class="product-price">
                        <p class="last-price1">Giá: <span id="product-price">{{min_public_price}}</span></p>
                        {% comment %} <p class="new-price">New Price: <span>$249.00 (5%)</span></p> {% endcomment %}
                    </div>

                    <div class="purchase-info">
                        <div class="w-row">
                            <div class="w-col w-col-small-3 w-col-medium-3 w-col-3">
                                Màu
                            </div>
                            <div class="w-col w-col-small-9 w-col-medium-9 w-col-9">
                                <div class="w-row" id="color">
                                {% for product_color in list_product_color %}
                                    <label class="w-col w-col-tiny-3 w-col-small-3 w-col-medium-3 w-col-3 product-option">
                                        <input class="btnlike color" type="checkbox" 
                                            name="color[]" onclick="onlyOneColor(this)"
                                            value="{{product_color.product_color_id}}">
                                        <span>{{product_color.product_color_name}}</span>
                                    </label>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-row">
                                <div class="w-col w-col-small-3 w-col-medium-3 w-col-3">
                                    Size
                                </div>
                                <div class="w-col w-col-small-9 w-col-medium-9 w-col-9">
                                    <div class="w-row" id="size">
                                    {% for product_size in list_product_size %}
                                        <label class="w-col w-col-tiny-3 w-col-small-3 w-col-medium-3 w-col-3 product-option">
                                            <input class="btnlike size" type="checkbox"
                                                name="size[]" onclick="onlyOneSize(this)"
                                                value="{{product_size.product_size_id}}">
                                            <span>{{product_size.product_size_name}}</span>
                                        </label>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-row">
                                <div class="w-col w-col-small-3 w-col-medium-3 w-col-3">
                                    Số lượng
                                </div>
                                <div class="w-col w-col-small-9 w-col-medium-9 w-col-9">
                                    <div class="w-row">
                                        <div class="number-input w-col w-col-small-6 w-col-medium-6 w-col-6">
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                                            <input class="quantity" min="1" max="{{total_product_in_stock}}"
                                                name="quantity" value="133" maxlength="{{length_total_product_in_stock}}" 
                                                type="number" id="quantity"
                                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                        </div>
                                        <div class="w-col w-col-small-6 w-col-medium-6 w-col-6 product-in-stock">
                                            Còn <span id="product-in-stock">{{total_product_in_stock}}</span> sản phẩm
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="button button-red-pink w-button">
                        Thêm vào giỏ hàng<i class="bxs-cart-download"></i>
                        </button>
                        <button type="button" class="button button-red w-button">
                        Mua ngay<i class="bxs-cart-download"></i>
                        </button>
                    </div>

                    <div class="product-detail">
                        {{product.product_description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-container1">
        <div class="">
            <div class="w-row">
                {% autoescape off %}
                    {{product.product_detail}}
                {% endautoescape %} 
            </div>
        </div>
    </div>
</div>
<script>
const imgs = document.querySelectorAll('.img-select a');
const imgBtns = [...imgs];
const defaultPrice = {{min_public_price}};
const defaultProductInStock = {{total_product_in_stock}};
const maxLengthDefaultProductInStock = {{length_total_product_in_stock}};
let listProductDetail = [];
{% for product_detail in list_product_detail %}
    listProductDetail.push({
        'product_detail_id': {{product_detail.product_detail_id}},
        'product_id': {{product_detail.product_id.product_id}},
        'product_color_id': {{product_detail.product_color_id.product_color_id}},
        'product_size_id': {{product_detail.product_size_id.product_size_id}},
        'product_in_stock': {{product_detail.product_in_stock}},
        'product_public_price': {{product_detail.product_public_price}},
        
    });
{% endfor %}
let imgId = 1;

imgBtns.forEach((imgItem) => {
    imgItem.addEventListener('click', (event) => {
        event.preventDefault();
        imgId = imgItem.dataset.id;
        slideImage();
    });
});
function onlyOneColor(checkbox) {
    var checkboxes = document.getElementsByName('checked');
    document.querySelectorAll('.color').forEach(function(item) {
        if (item !== checkbox) item.checked = false
    });
    setPrice();
}
function onlyOneSize(checkbox) {
    var checkboxes = document.getElementsByName('checked');
    document.querySelectorAll('.size').forEach(function(item) {
        if (item !== checkbox) item.checked = false
    });
    setPrice();
}
function setPrice() {
    let size;
    let color;
    var listSize = document.querySelectorAll('#size input[type="checkbox"]:checked');
    for (var i = 0; i < listSize.length; i++) size = listSize[i].value;
    var listColor = document.querySelectorAll('#color input[type="checkbox"]:checked');
    for (var i = 0; i < listColor.length; i++) color = listColor[i].value;
    if (size != undefined && color != undefined) {
        checkColorAndSize(color, size);
    } else if (size == undefined && color == undefined) {
        document.getElementById('product-price').innerHTML = defaultPrice;
        document.getElementById('product-in-stock').innerHTML = defaultProductInStock;
        document.getElementById('quantity').max = defaultProductInStock;
        document.getElementById('quantity').maxLength = maxLengthDefaultProductInStock;
    }
}
function checkColorAndSize(color, size) {
    for (let i = 0; i < listProductDetail.length; i++ ) {
        if (listProductDetail[i].product_color_id == color && listProductDetail[i].product_size_id == size) {
            document.getElementById('product-price').innerHTML = listProductDetail[i].product_public_price;
            document.getElementById('product-in-stock').innerHTML = listProductDetail[i].product_in_stock;
            document.getElementById('quantity').max = listProductDetail[i].product_in_stock;
            document.getElementById('quantity').maxLength = listProductDetail[i].product_in_stock.toString().length;
            console.log(listProductDetail[i].product_in_stock.toString().length)
        }
    }
}
/*
$('input[type="checkbox"]').on('change', function() {
    $('input[name="' + this.name + '"]').not(this).prop('checked', false);
});
*/
function slideImage(){
    const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;
    document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
}

window.addEventListener('resize', slideImage);
</script>
{% endblock %}