{% extends 'private/base.html' %}
{% load static %}
{% block section %}
<style>
#msg-category-name,
#msg-category-url,
#msg-category-image-name,
#msg-category-image,
#msg-category-display-order {
    display: none;
}
</style>
<div class="content">
    {% include 'private/message.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Category</h4>
                </div>
                <div class="card-body">
                {% if category.category_id %}
                    <form method="post" autocomplete="on" action="{% url 'category-update' id=category.category_id %}" enctype="multipart/form-data">
                        <input type="hidden" name="category-id" value="{{ category.category_id }}"/>
                {% else %}
                    <form method="post" autocomplete="on" action="{% url 'category-insert' %}" enctype="multipart/form-data">
                {% endif %}
                        {% csrf_token %}
                        <div class="row">
                            <div class="text-danger">
                                <ul>
                                    <li id="msg-category-name"></li>
                                    <li id="msg-category-url"></li>
                                    <li id="msg-category-image-name"></li>
                                    <li id="msg-category-image"></li>
                                    <li id="msg-category-display-order"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Category name
                                        <span class="asteriskField">*</span>
                                    </label>
                                    <input type="text" name="category-name" class="form-control" 
                                            onchange="validateCategoryName(this.value)"
                                            maxlength="1000" 
                                            required
                                            {% if category.category_name %}
                                                value="{{ category.category_name }}"
                                            {% endif %}
                                            >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Đường dẫn tương ứng
                                        <span class="asteriskField">*</span>
                                    </label>
                                    <input type="text" name="category-url" class="form-control"
                                            onchange="validateCategoryUrl(this.value)"
                                            maxlength="1000"
                                            required
                                            {% if category.category_url %}
                                                value="{{ category.category_url }}"
                                            {% endif %}
                                            >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Tên ảnh mặc định
                                        <span class="asteriskField">*</span>
                                    </label>
                                    <input type="text" name="category-image-name" class="form-control"
                                            onchange="validateCategoryImageName(this.value)"
                                            maxlength="1000"
                                            required
                                            {% if category.category_image_default_name %}
                                                value="{{ category.category_image_default_name }}"
                                            {% endif %}
                                            >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="image-header" class="bmd-label-floating">Chọn ảnh
                                    {% if not category.category_image_default %}
                                        <span class="asteriskField">*</span>
                                    {% endif %}
                                </label>
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                    {% if category.category_image_default %}
                                        <input type="hidden" name="category-image-now" value="{{ category.category_image_default }}"/>
                                        <input type="file"
                                            id="image-header"
                                            class="form-control-file custom-file-input"
                                            name="category-image" 
                                            accept="image/png, image/jpeg, image/webp, image/apng, image/gif"
                                            onchange="document.getElementById('image-category-preview').src = window.URL.createObjectURL(this.files[0]);
                                                    document.getElementById('image-category-preview').classList.remove('d-none');"
                                            >
                                            <label class="custom-file-label" for="inputGroupFile01">{{ category.category_image_default }}</label>
                                    {% else %}
                                        <input type="file"
                                            id="image-header"
                                            class="form-control-file custom-file-input"
                                            name="category-image" 
                                            accept="image/png, image/jpeg, image/webp, image/apng, image/gif"
                                            onchange="document.getElementById('image-category-preview').src = window.URL.createObjectURL(this.files[0]);
                                                    document.getElementById('image-category-preview').classList.remove('d-none');"
                                            required
                                            >
                                        <label class="custom-file-label" for="inputGroupFile01">Ảnh đuôi .png, .webp, .jpg</label>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Hiển thị
                                    </label>
                                    <select name="category-display" id="display" class="form-control">
                                        <option value="false"
                                                {% if category.display == False %}
                                                    selected
                                                {% endif %}
                                                >Không hiển thị
                                        </option>
                                        <option value="true"
                                                {% if category.display == True %}
                                                    selected
                                                {% endif %}>Hiển thị
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Thứ tự hiển thị
                                    </label>
                                    <input type="number" name="category-display-order"
                                            class="form-control"
                                            {% if category.display_order %}
                                                value="{{ category.display_order }}"
                                            {% endif %}
                                            >
                                </div>
                            </div>
                        </div>
                        {% if category.category_id %}
                            <a href="{% url 'category-detail' id=category.category_id %}" class="btn btn-primary pull-right">
                                Quay lại
                            </a>
                            <button type="submit" class="btn btn-primary pull-right">Cập nhật</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary pull-right">Tạo</button>
                        {% endif %}
                        <div class="clearfix"></div>
                    </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Xem trước</h4>
                    </div>
                    <div class="card-body">
                    </div>
                    {% if category.category_image_default %}
                        <img class="img" src="/{{ category.category_image_default }}" id="image-category-preview"/>
                    {% else %}
                        <img class="img" id="image-category-preview"/>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/webjs/fetchdata.js' %}"></script>
<script type="text/javascript">
    /**
     * Validate category name
     */
    function validateCategoryName(categoryName) {
        let re = new RegExp("^[A-Za-z0-9_ ]*$");
        let display = 'none';
        let html = '';
        if (re.test(categoryName) == false) {
            display = 'block';
            html = 'Category name: Nhập ký tự trong bảng chữ cái, số, khoảng cách.';
        } 
        document.getElementById("msg-category-name").style.display = display;
        document.getElementById("msg-category-name").innerHTML = html;
    }

    /**
     * Validate category name
     */
    function validateCategoryUrl(categoryUrl) {
        let re = new RegExp("^[A-Za-z0-9-_]*$");
        let display = 'none';
        let html = '';
        if (re.test(categoryUrl) == false) {
            display = 'block';
            html = 'Đường dẫn tương ứng: Nhập ký tự trong bảng chữ cái, số.';
        }
        document.getElementById("msg-category-url").style.display = display;
        document.getElementById("msg-category-url").innerHTML = html;
    }

    /**
     * Validate category image name
     */
    function validateCategoryImageName(categoryImageName) {
        let re = new RegExp("^[A-Za-z0-9-_]*$");
        let display = 'none';
        let html = '';
        if (re.test(categoryImageName) == false) {
            display = 'block';
            html = 'Tên ảnh mặc định: Nhập ký tự trong bảng chữ cái, số, khoảng cách.';
        } 
        document.getElementById("msg-category-image-name").style.display = display;
        document.getElementById("msg-category-image-name").innerHTML = html;
    }
    
</script>
{% endblock %}