{% extends 'private/base.html' %}
{% load static %}
{% block section %}
<style>
.col-id {
    width: 10%;
}
.col-name {
    width: 30%;
}
.col-url {
    width: 30%;
}
.col-display {
    width: 10%;
}
</style>
<div class="content">
    {% include 'private/message.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Category</h4>
                </div>
                <div class="card-body">
                    <form method="post" autocomplete="on" action="" enctype="multipart/form-data">{% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Category name
                                    </label>
                                    <input type="text" name="category-name" class="form-control" 
                                            {% if category.category_name %}
                                                value="{{category.category_name}}"
                                            {% endif %}
                                            disabled
                                            >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Đường dẫn tương ứng
                                    </label>
                                    <input type="text" name="category-url" class="form-control"
                                            {% if category.category_url %}
                                                value="{{category.category_url}}"
                                            {% endif %}
                                            disabled
                                            >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Tên ảnh mặc định
                                    </label>
                                    <input type="text" name="category-image-name" class="form-control"
                                            {% if category.category_image_default_name %}
                                                value="{{category.category_image_default_name}}"
                                            {% endif %}
                                            disabled
                                            >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="image-header" class="bmd-label-floating">Tên ảnh
                                </label>
                                <input type="text" name="category-image-name" class="form-control"
                                            {% if category.category_image_default %}
                                                value="{{category.category_image_default}}"
                                            {% endif %}
                                            disabled
                                            >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Hiển thị
                                    </label><br>
                                    <img src="
                                    {% if category.display %}
                                        {% static '/assets/img/tick.png' %}
                                    {% else %}
                                       {% static '/assets/img/close.png' %}
                                    {% endif %}
                                    " />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="category-display-type" class="bmd-label-floating">Kiểu hiển thị
                                    </label>
                                    <input type="text" name="category-display-type" class="form-control"
                                            {% if category.display_type %}
                                                value="Loại {{ category.display_type }}"
                                            {% endif %}
                                            disabled
                                            >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Thứ tự hiển thị 
                                    </label>
                                    <input type="number" name="category-display-order"
                                            class="form-control"
                                            {% if category.display_order %}
                                                value="{{category.display_order}}"
                                            {% endif %}
                                            disabled
                                            >
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'category' %}" class="btn btn-primary pull-right">Quay lại</a>
                        <a href="{% url 'category-delete' category_id=category.category_id %}"
                                onclick="return confirm('Bạn có chắc chắn muốn xóa?')" 
                                class="btn btn-primary pull-right">Xóa</a>
                        {% if category.category_id %}
                            <a href="{% url 'category-form-update' id=category.category_id %}" class="btn btn-primary pull-right">Sửa</a>
                        {% endif %}
                        
                    </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Hiện tại</h4>
                    </div>
                    <div class="card-body">
                    </div>
                    {% if category.category_image_default %}
                        <img class="img" id="image-category-now" src=""/>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        {% if category_posts_display_true|length != 0%}        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Danh sách post</h4>
                        <a href="{% url 'post-form' category_id=category.category_id %}" class="btn btn-secondary pull-right">Mới</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="col-id">ID</th>
                                    <th class="col-name">Tiêu đề</th>
                                    <th class="col-url">Url</th>
                                    <th class="col-display">Hiển thị</th>
                                    <th class="col-display">Thứ tự</th>
                                </thead>
                                <tbody>
                                {% for category_post in category_posts_display_true %}
                                    {% if category_post.display %}
                                    <tr onclick="window.location='{% url 'post' category_id=category.category_id post_id=category_post.category_post_id %}';">
                                        <td>
                                            <a href="{% url 'post' category_id=category.category_id post_id=category_post.category_post_id %}">
                                                {{ category_post.category_post_id }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'post' category_id=category.category_id post_id=category_post.category_post_id %}">
                                                {{ category_post.category_post_title }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ category_post.category_post_url }}
                                        </td>
                                        <td>
                                            <img src="{% static '/assets/img/tick.png' %}" />
                                        </td>
                                        <td>
                                            {{ category_post.display_order }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if category_posts_display_false|length != 0%}        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    {% if category_posts_display_true|length == 0 %}
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Danh sách post</h4>
                        <a href="{% url 'post-form' category_id=category.category_id %}" class="btn btn-secondary pull-right">Mới</a>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="col-id">ID</th>
                                    <th class="col-name">Tiêu đề</th>
                                    <th class="col-url">Url</th>
                                    <th class="col-display">Hiển thị</th>
                                    <th class="col-display">Thứ tự</th>
                                </thead>
                                <tbody>
                                {% for category_post in category_posts_display_false %}
                                    {% if not category_post.display %}
                                    <tr onclick="window.location='{% url 'post' category_id=category.category_id post_id=category_post.category_post_id %}';">
                                        <td>
                                            <a href="{% url 'post' category_id=category.category_id post_id=category_post.category_post_id %}">
                                                {{ category_post.category_post_id }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'post' category_id=category.category_id post_id=category_post.category_post_id %}">
                                                {{ category_post.category_post_title }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ category_post.category_post_url }}
                                        </td>
                                        <td>
                                            <img src="{% static '/assets/img/close.png' %}" />
                                        </td>
                                        <td>
                                            {{ category_post.display_order }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if category_posts_display_false|length == 0 and category_posts_display_true|length == 0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Danh sách post</h4>
                        <a href="{% url 'post-form' category_id=category.category_id %}" class="btn btn-secondary pull-right">Mới</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="col-id">ID</th>
                                    <th class="col-name">Tiêu đề</th>
                                    <th class="col-url">Url</th>
                                    <th class="col-display">Hiển thị</th>
                                    <th class="col-display">Thứ tự</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/webjs/fetchdata.js' %}"></script>
<script type="text/javascript">
    window.onload = function() {
        // Src image
        let srcImage = '{{ category.category_image_default }}';
        // Set image
        document.getElementById("image-category-now").src = '/' + srcImage;
    };
    
</script>
{% endblock %}