{% extends 'private/base.html' %}
{% load static %}
{% block section %}
<style>
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.layer-image {
    content: "";
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: 0;
    top: 68px;
    left: 0;
    right: 0;
}
.title-banner {
    font-family: "Satisfy", serif;
    font-size: 26px;
}
</style>
<div class="content">
    {% include 'private/message.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Cập nhật header mặc định</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form method="post" autocomplete="on" action="/header/image/" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="name-header" class="bmd-label-floating">Tên file
                                            <span class="asteriskField">*</span>
                                        </label>
                                        <input type="text" class="form-control" name="name-header" maxlength="70" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {% comment %} <div class="form-group"> {% endcomment %}
                                        <label for="image-header" class="bmd-label-floating">Chọn ảnh
                                            <span class="asteriskField">*</span>
                                        </label>
                                        {% comment %} <input type="file"
                                                id="image-header"
                                                class="form-control-file"
                                                name="image-header" 
                                                accept="image/png, image/jpeg, image/webp, image/apng, image/gif"
                                                onchange="document.getElementById('image-heade-preview').src = window.URL.createObjectURL(this.files[0]);
                                                        document.getElementById('image-heade-preview').classList.remove('d-none');"
                                                required>
                                    </div> {% endcomment %}
                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <input type="file"
                                                id="image-header"
                                                class="form-control-file custom-file-input"
                                                name="image-header" 
                                                accept="image/png, image/jpeg, image/webp, image/apng, image/gif"
                                                onchange="document.getElementById('image-heade-preview').src = window.URL.createObjectURL(this.files[0]);
                                                        document.getElementById('image-heade-preview').classList.remove('d-none');"
                                                required>
                                            <label class="custom-file-label" for="inputGroupFile01">Ảnh đuôi .png, .webp, .jpg</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="tim-note">Thời gian chỉnh sửa gần nhất:</span>
                            <small id="header-update-time"></small>
                            <button type="submit" class="btn btn-primary pull-right">Update</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Xem trước</h4>
                    </div>
                    <div class="card-body">
                    </div>
                    <img class="img d-none" id="image-heade-preview" alt="image-heade-preview"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Hiện tại</h4>
                    </div>
                    <div class="card-body">
                    </div>
                    <img class="img" id="header-now" src="" /> <!-- {% static 'media/images/test.jpeg' %} -->

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Cập nhật nội dung tiêu đề banner</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form method="post" autocomplete="on" action="/banner-title/" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="title-banner" class="bmd-label-floating">Tiêu đề
                                            <span class="asteriskField">*</span>
                                        </label>
                                        <input type="text" class="form-control" name="title-banner" maxlength="60" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="subtitle-banner" class="bmd-label-floating">Tiêu đề phụ
                                            <span class="asteriskField">*</span>
                                        </label>
                                        <input type="text" class="form-control" name="subtitle-banner" maxlength="120" required>
                                    </div>
                                </div>
                            </div>
                            <span class="tim-note">Thời gian chỉnh sửa gần nhất:</span>
                            <small id="banner-title-update-time"></small>
                            <button type="submit" class="btn btn-primary pull-right">Update</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile position-relative text-center">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Hiện tại</h4>
                    </div>
                    <div class="card-body"></div>
                    <div class="layer-image"></div>
                    <img class="img" id="header-now-content-text" src="" />
                    
                    <div class="centered text-white">
                        <p id="title-banner" class="title-banner"></p>
                        <p id="sub-title-banner"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/webjs/fetchdata.js' %}"></script>
<script type="text/javascript">
    window.onload = function() {
        // Base url
        let baseUrl = window.location.protocol + '//' + window.location.host;
        
        // Set header
        setHeader(baseUrl);

        // Set banner title
        setBannerTitle(baseUrl);
    };
    
    /**
     * Set header
     * @param {string} baseUrl 
     */
    function setHeader(baseUrl) {
        // Call api get header
        let apiGetHeader = baseUrl + '/api/header/';
        let header = fetchApi(apiGetHeader);
        let headerPromise = Promise.resolve(header);
        headerPromise.then(function(value) {
            let headerImage = '{% static 'assets/img/hero-bg.jpg' %}';
            let updateTime = 'Chưa chỉnh sửa';
            // Response no error
            if (value.path != null) {
                headerImage = '/' + value.path;
                //document.getElementById("header-now-content-text").setAttribute('style', 'background: url(' + value.path + ') !important');
            }
            if (value.updatedAt != null) {
                updateTime = new Date(value.updatedAt).toLocaleString();
            }
            document.getElementById("header-now").src = headerImage;
            document.getElementById("header-now-content-text").src = headerImage;
            document.getElementById("header-update-time").innerHTML = updateTime;
        })
    }

    /**
     * Set banner title
     * @param {string} baseUrl 
     */
    function setBannerTitle(baseUrl) {
        // Call api get banner title
        let apiGetBannerTitle = baseUrl + '/api/banner-title/';
        let bannerTitle = fetchApi(apiGetBannerTitle);
        let bannerTitlePromise = Promise.resolve(bannerTitle);
        bannerTitlePromise.then(function(value) {
            let title = 'Chưa có nội dung';
            let subTitle = 'Chưa có nội dung';
            let updateTime = 'Chưa chỉnh sửa';
            // Response no error
            if (value.bannerTitle != null) {
                title = escapeHTML(value.bannerTitle);
            } 
            if (value.bannerSubTitle != null) {
                subTitle = escapeHTML(value.bannerSubTitle);
            }
            if (value.updatedAt != null) {
                updateTime = new Date(value.updatedAt).toLocaleString();
            }
            document.getElementById("banner-title-update-time").innerHTML = updateTime;
            document.getElementById("title-banner").innerHTML = title;
            document.getElementById("sub-title-banner").innerHTML = subTitle;
        })
    }
    
</script>
{% endblock %}