.asteriskField {
    color: #dc3545;
}
.work-break {
    word-break: break-word;
}
.uppercase {
    text-transform: uppercase;
}
.my-scroll-content-html {
    height:500px;
    overflow-y: scroll;
}
.truncate-long-texts-140 {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}