{% extends 'private/base.html' %}
{% load static %}
{% block section %}
<style>
#msg-category-name,
#msg-category-url,
#msg-category-image-name,
#msg-category-image,
#msg-category-display-order {
    display: none;
}
</style>
<div class="content">
    {% include 'private/message.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Size</h4>
                </div>
                <div class="card-body">
                {% if product_size.product_size_id %}
                    <form method="post" autocomplete="on"
                        enctype="multipart/form-data"
                        action="{% url 'product-size-update' product_type_id=product_type_id product_size_id=product_size.product_size_id %}">
                {% else %}
                    <form method="post" autocomplete="on"  enctype="multipart/form-data"
                    action="{% url 'product-size-insert' product_type_id=product_type_id %}">
                {% endif %}
                        {% csrf_token %}
                        <input type="hidden" name="type-id" value="{{ product_type_id }}"/>
                        <div class="row">
                            <div class="text-danger">
                                <ul>
                                    <li id="msg-category-name"></li>
                                    <li id="msg-category-url"></li>
                                    <li id="msg-category-image-name"></li>
                                    <li id="msg-category-image"></li>
                                    <li id="msg-category-display-order"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Code
                                        <span class="asteriskField">*</span>
                                    </label>
                                    <input type="text" name="size-code" class="form-control" 
                                            onchange="validateCategoryUrl(this.value)"
                                            maxlength="25" 
                                            required
                                            {% if product_size.product_size_code %}
                                                value="{{ product_size.product_size_code }}"
                                            {% endif %}
                                            >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Tên
                                        <span class="asteriskField">*</span>
                                    </label>
                                    <input type="text" name="size-name" class="form-control" 
                                            onchange="validateCategoryName(this.value)"
                                            maxlength="255" 
                                            required
                                            {% if product_size.product_size_name %}
                                                value="{{ product_size.product_size_name }}"
                                            {% endif %}
                                            >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Chiều cao từ
                                    </label>
                                    <input type="number" name="size-height-min" class="form-control" 
                                            min="1" max="1000" placeholder="cm"
                                            {% if product_size.product_size_height_min %}
                                                value="{{ product_size.product_size_height_min }}"
                                            {% endif %}
                                            >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Đến
                                    </label>
                                    <input type="number" name="size-height-max" class="form-control" 
                                            min="1" max="1000" placeholder="cm"
                                            {% if product_size.product_size_height_max %}
                                                value="{{ product_size.product_size_height_max }}"
                                            {% endif %}
                                            >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Chiều rộng từ
                                    </label>
                                    <input type="number" name="size-width-min" class="form-control" 
                                            min="1" max="1000" placeholder="cm"
                                            {% if product_size.product_size_width_min %}
                                                value="{{ product_size.product_size_width_min }}"
                                            {% endif %}
                                            >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Đến
                                    </label>
                                    <input type="number" name="size-width-max" class="form-control" 
                                            min="1" max="1000" placeholder="cm"
                                            {% if product_size.product_size_width_max %}
                                                value="{{ product_size.product_size_width_max }}"
                                            {% endif %}
                                            >
                                </div>
                            </div>
                        </div>
                        {% if product_size.product_size_id %}
                            <a href="" class="btn btn-primary pull-right">
                                Quay lại
                            </a>
                            <button type="submit" class="btn btn-primary pull-right">Cập nhật</button>
                        {% else %}
                            <a href="{% url 'product-type' %}" class="btn btn-primary pull-right">Quay lại</a>
                            <button type="submit" class="btn btn-primary pull-right">Tạo</button>
                        {% endif %}
                        <div class="clearfix"></div>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/webjs/fetchdata.js' %}"></script>
<script type="text/javascript">
    /**
     * Validate category name
     */
    function validateCategoryName(categoryName) {
        let re = new RegExp("^[aàảãáạăằẳẵắặâầẩẫấậbcdđeèẻẽéẹêềểễếệfghiìỉĩíịjklmnoòỏõóọôồổỗốộơờởỡớợpqrstuùủũúụưừửữứựvwxyỳỷỹýỵzA-Za-z0-9_ ]*$");
        let display = 'none';
        let html = '';
        if (re.test(categoryName.toLowerCase()) == false) {
            display = 'block';
            html = 'Dòng sản phẩm và Mô tả: Nhập ký tự trong bảng chữ cái, số, khoảng cách.';
        } 
        document.getElementById("msg-category-name").style.display = display;
        document.getElementById("msg-category-name").innerHTML = html;
    }

    /**
     * Validate category name
     */
    function validateCategoryUrl(categoryUrl) {
        let re = new RegExp("^[A-Za-z0-9-_]*$");
        let display = 'none';
        let html = '';
        if (re.test(categoryUrl) == false) {
            display = 'block';
            html = 'Mã dòng sản phẩm: Chứa ký tự không có dấu và dấu cách.';
        }
        document.getElementById("msg-category-url").style.display = display;
        document.getElementById("msg-category-url").innerHTML = html;
    }
    
</script>
{% endblock %}