{% extends 'public/base.html' %}
{% block section %}
<div class="hero-section home-page-hero">
    <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="nav w-nav">
        <div class="w-container">
            {% comment %} <a href="/" aria-current="page" class="w-nav-brand w--current">
                <div class="logo-text">TILE<strong data-new-link="true">DESIGN</strong></div>
            </a> {% endcomment %}
            <nav role="navigation" class="nav-menu w-nav-menu">
                <a href="/" aria-current="page" class="nav-link w-nav-link w--current">Home</a><a href="/about" class="nav-link w-nav-link">About</a><a href="/portfolio" class="nav-link w-nav-link">Portfolio</a>
                <a href="/blog" class="nav-link w-nav-link">Blog</a><a href="#" data-w-id="c66b3b9e-8533-cf7e-3626-5291fef080a4" class="nav-link contact w-nav-link">Contact</a>
            </nav>
            <div class="menu-button w-nav-button"><div class="w-icon-nav-menu"></div></div>
        </div>
    </div>
    <h1
        style="
            -webkit-transform: translate3d(0, -30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, -30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, -30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, -30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            opacity: 0;
        "
        class="home-page-heading"
    >
        Magic is something you create.
    </h1>
    <div class="hero-overlay"></div>
</div>
<div class="section top-section home-page">
    <div class="hero-container w-container">
        <div class="w-clearfix">
            <div
                data-w-id="e8c4e4c4-cea0-8f1e-cb08-86aed56ea0ae"
                style="
                    -webkit-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                "
                class="_60block"
            >
                <a href="/about" class="hero-tile w-inline-block">
                    <div class="tile-text">
                        About<br />
                        Myself.
                    </div>
                    <div class="tile-image"><div class="tile-overlay"></div></div>
                </a>
            </div>
            <div
                data-w-id="1cb6be37-64c6-c643-588d-1c32f82daad6"
                style="
                    -webkit-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                "
                class="_40block"
            >
                <div class="hero-tile w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <a href="/portfolio" class="tile-link w-inline-block">
                                <div class="tile-text">
                                    Latest<br />
                                    Projects
                                </div>
                                <div style="background-image: url('https://assets.website-files.com/5e4b197bdc74aff3fc4a9e2c/5e4b197bdc74af34a64a9e49_coffee-mug.jpg');" class="tile-image"><div class="tile-overlay"></div></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                data-w-id="0bfbbced-82b7-9203-cafc-59fe76b2d597"
                style="
                    -webkit-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                "
                class="_33block"
            >
                <div class="hero-tile">
                    <div class="w-dyn-list">
                        <div role="list" class="w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                                <a href="/blog" class="tile-link w-inline-block">
                                    <div class="tile-text">
                                        Latest<br />
                                        Posts.
                                    </div>
                                    <div style="background-image: url('https://assets.website-files.com/5e4b197bdc74aff3fc4a9e2c/5e4b197bdc74af4a854a9e4a_take-a-pic.jpg');" class="tile-image"><div class="tile-overlay"></div></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                data-w-id="e398461a-51dc-a791-a4b1-a385a6c06359"
                style="
                    -webkit-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                "
                class="_33block"
            >
                <a href="#" data-ix="show-contact-overlay" class="hero-tile w-inline-block">
                    <div class="tile-text">
                        Hire<br />
                        Me.
                    </div>
                    <div class="tile-image hire"><div class="tile-overlay"></div></div>
                </a>
            </div>
            <div
                data-w-id="c23cfaee-2245-1780-bfb9-ef0995541f3e"
                style="
                    -webkit-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 0, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                "
                class="_33block"
            >
                <div class="w-clearfix">
                    <a href="#" class="social-block w-inline-block"></a><a href="#" class="social-block facebook w-inline-block"></a><a href="#" class="social-block pinterest w-inline-block"></a>
                    <a href="#" class="social-block dribbble w-inline-block"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-3">
                <a href="/" aria-current="page" class="logo-footer w-nav-brand w--current">
                    <div class="logo-text footer-logo">TILE<strong data-new-link="true">DESIGN</strong></div>
                </a>
            </div>
            <div class="footer-link-col w-clearfix w-col w-col-9">
                <a href="#" data-ix="show-contact-overlay" class="nav-link footer-link contact">Contact</a><a href="/blog" class="nav-link footer-link">Blog</a><a href="/portfolio" class="nav-link footer-link">Portfolio</a>
                <a href="/about" class="nav-link footer-link">About</a><a href="/" aria-current="page" class="nav-link footer-link w--current">Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}