{% extends 'public/Home/homebase.html' %}
{% load static %}
{% block section %}
        <header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent">
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Home</a></li>
                    {% for category in categories %}
                        <li><a href="#{{ category.category_detail.category_url }}">{{ category.category_detail.category_name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <!-- .nav-menu -->
        </header>
        <!-- End Header -->
        <!-- ======= Hero Section ======= -->
        <section id="hero">
            <div class="hero-container">
                <h1 id="title-banner"></h1>
                <h2 id="sub-title-banner"></h2>
                <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
            </div>
        </section>
        <!-- End Hero -->
        <main id="main">
            {% for category in categories %}
                {% if category.category_detail.display_type == 1 %}
                    <section id="{{ category.category_detail.category_url }}" class="services">
                        <div class="container">
                            <div class="section-title">
                                <span>{{ category.category_detail.category_name }}</span>
                                <h2><a href="{% url 'public-category' url=category.category_detail.category_url %}">
                                    {{ category.category_detail.category_name }}</a>
                                </h2>
                                <p>{{ category.category_detail.category_url }}</p>
                            </div>
                            <div class="row">
                                {% for post in category.posts %}
                                    <div class="col-md-6 col-lg-3 w-100 d-flex justify-content-center align-items-stretch mb-5 mb-lg-0">
                                        <div class="icon-box" style="flex: 1">
                                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                                            <h4 class="title"><a href="{% url 'public-post' url=post.category_post_url %}" style="word-break: break-word;">
                                                {{ post.category_post_title }}</a>
                                            </h4>
                                            <p class="description text-break">{{ post.category_post_description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </section>
                {% elif category.category_detail.display_type == 2 %}
                    <section id="{{ category.category_detail.category_url }}" class="portfolio">
                        <div class="container">
                            <div class="section-title">
                                <span>{{ category.category_detail.category_name }}</span>
                                <h2><a href="{% url 'public-category' url=category.category_detail.category_url %}">
                                    {{ category.category_detail.category_name }}</a>
                                </h2>
                                <p>{{ category.category_detail.category_url }}</p>
                            </div>
                            <ul id="portfolio-flters" class="d-flex justify-content-center">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".filter-app">App</li>
                                <li data-filter=".filter-card">Card</li>
                                <li data-filter=".filter-web">Web</li>
                            </ul>
                            <div class="row portfolio-container">
                                {% for post in category.posts %}
                                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                    <div class="portfolio-img"><img src="{{ post.category_post_image }}" class="img-fluid" alt="{{ post.category_post_image_name }}"></div>
                                    <div class="portfolio-info">
                                        <a href="{% url 'public-post' url=post.category_post_url %}" >
                                            <h4 style="word-break: break-word;">{{ post.category_post_title }}</h4>
                                            <p style="word-break: break-word;">{{ post.category_post_description }}</p>
                                            <a href="{{ post.category_post_image }}" data-gall="portfolioGallery"
                                                    class="venobox preview-link"
                                                    title="{{ post.category_post_title }}">
                                                    <i class="bx bx-plus"></i>
                                            </a>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% elif category.category_detail.display_type == 3 %}
                    <section id="{{ category.category_detail.category_url }}" class="testimonials"
                        style="background: url(/{{ category.category_detail.category_image_default }}) no-repeat; ">
                        <div class="container">
                            <div class="owl-carousel testimonials-carousel">
                                {% for post in category.posts %}
                                <div class="testimonial-item">
                                    <img src="{{ post.category_post_image }}" class="testimonial-img" alt="{{ post.category_post_image_name }}">
                                    <h3 style="word-break: break-word;">{{ post.category_post_title }}</h3>
                                    <h4 style="word-break: break-word;">{{ post.category_post_description }}</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        <p style="word-wrap: break-word;">{{ post.category_post_content }}</p>
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </section>
                {% endif %}
            {% endfor %}
            
            <!-- End My Portfolio Section -->
            <!-- ======= Testimonials Section ======= -->
            
            <!-- End Testimonials Section -->
        </main>
        <!-- End #main -->
        
        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
        <script type="text/javascript">
            window.onload = function() {
                
            };

        </script>
{% endblock %}