{% extends 'private/base.html' %}
{% load static %}
{% block section %}
<style>

</style>
<div class="content">
    {% include 'private/message.html' %}
    <div class="container-fluid">
        <div class="row">
        <a href="{% url 'product-detail' product_id=product.product_id %}" class="btn btn-primary pull-left">
            ◄ Quay lại
        </a>
        </div>
        <div class="row">
            {% for product_image in list_product_image %}
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-primary">
                        <form method="post" autocomplete="on" enctype="multipart/form-data"
                            action="{% url 'product-image-delete' product_id=product.product_id %}">
                            <input type="hidden" name="product-image-id" 
                                value="{{ product_image.product_image_id }}"/>
                            <button type="submit" class="btn btn-secondary pull-right">Xóa</button>
                        </form>
                    </div>
                    <div class="card-body">
                    </div>
                    <img src="/{{product_image.product_image_path}}" 
                        alt="{{product_image.product_image_name}}"
                        class="img-fluid">
                </div>
            </div>
            {% endfor %}
            <div class="col-md-4">
                <form method="post" autocomplete="on"
                    action="{% url 'product-image-insert' product_id=product.product_id %}" enctype="multipart/form-data">
                    <input type="hidden" name="" value=""/>
                    {% csrf_token %}
                    <div class="card card-profile">
                        <div class="card-header card-header-primary">
                            <button type="submit" class="btn btn-secondary pull-right">Thêm</button>
                            <label class="btn btn-secondary pull-right truncate-long-texts-140" for="product-image" >
                                <input id="product-image" type="file" multiple="multiple" 
                                    name="product-image" style="display:none"
                                    onchange="$('#multfile-label').html(
                                        (this.files.length == 1) ? this.files[0].name : this.files.length + ' files');
                                        $(this).parent().addClass('btn-success')
                                        document.getElementById('image-category-preview').src = window.URL.createObjectURL(this.files[0]);
                                        document.getElementById('image-category-preview').classList.remove('d-none');">
                                <span id="multfile-label">Files&hellip;</span>
                            </label>
                        </div>
                        <div class="card-body"></div>
                        <img src="" 
                            alt=""
                            class="img-fluid" id="image-category-preview">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% comment %} <script src="{% static 'js/webjs/fetchdata.js' %}"></script> {% endcomment %}
<script type="text/javascript">
    
</script>
{% endblock %}