{% extends 'private/base.html' %}
{% load static %}
{% block section %}
<style>
</style>
<div class="content">
    {% include 'private/message.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Chi tiết sản phẩm</h4>
                        <a href="{% url 'product' %}" class="btn btn-secondary pull-right">Quay lại</a>
                        <a href="" class="btn btn-secondary pull-right">Xóa</a>
                        <a href="{% url 'product-detail-form-update' product_id=product.product_id %}" class="btn btn-secondary pull-right">Sửa</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Mã sản phẩm</label>
                                    <input type="text" class="form-control" 
                                        disabled
                                        {% if product.product_code %}
                                            value=" {{ product.product_code }}"
                                        {% endif %}>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Tên sản phẩm</label>
                                    <input type="text" class="form-control"
                                        disabled
                                        {% if product.product_name %}
                                            value="{{ product.product_name }}"
                                        {% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Mô tả</label>
                                    <div class="form-group">
                                        <div>{{ product.product_description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Nội dung</label>
                                    <div class="form-group">
                                        <div class="my-scroll-content-html">
                                            {% autoescape off %}
                                                {{ product.product_detail }}
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="row">
                                <div class="col-md-12"><br><br>
                                    <h5><strong>Chi tiết</strong></h5>
                                </div>    
                            </div>
                            {% for product_detail in list_product_detail %}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Màu
                                        </label>
                                        <input type="text" class="form-control" 
                                                disabled
                                                {% if product_detail.product_color_id.product_color_name %}
                                                    value=" {{ product_detail.product_color_id.product_color_name }}"
                                                {% endif %}
                                                >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Size</label>
                                        <input type="text" class="form-control"
                                            disabled
                                            {% if product_detail.product_size_id.product_size_name %}
                                                value="{{ product_detail.product_size_id.product_size_name }}"
                                            {% endif %}>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tổng</label>
                                        <input type="text" class="form-control"
                                                disabled
                                                {% if product_detail.number_of_product >= 0 %}
                                                    value="{{ product_detail.number_of_product }}"
                                                {% endif %}>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Đã bán</label>
                                        <input type="text" class="form-control"
                                                disabled
                                                    value="{{ product_detail.product_in_stock }}"
                                                >
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="product-detail">
                            <div class="row justify-content-between">
                                <div class="col-md-6 col-6"><br><br><br>
                                    <h5><strong>Ảnh</strong></h5>
                                </div>
                                <div class="col-md-6 col-6"><br><br>
                                    <a href="{% url 'product-image-detail' product_id=product.product_id %}" 
                                            class="btn btn-primary float-right">Chỉnh sửa ảnh</a>
                                </div>
                            </div>
                            <div class="row">
                                {% for product_image in list_product_image %}
                                    <div class="col-md-4 p-2">
                                        <img src="/{{product_image.product_image_path}}" 
                                            alt="{{product_image.product_image_name}}"
                                            class="img-fluid">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Khuyễn mãi hiện tại</h4>
                        <a href="" class="btn btn-secondary pull-right">Mới</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="col-id">ID</th>
                                    <th class="col-name">Thời gian bắt đầu</th>
                                    <th class="col-url">Thời gian kết thúc</th>
                                    <th class="col-url">Giảm giá</th>
                                </thead>
                                <tbody>
                                {% for p_promotion in list_p_promotion_is_running %}
                                    <tr onclick="window.location='';">
                                        <td>
                                            {{ p_promotion.product_promotion_id }}
                                        </td>
                                        <td>
                                            {{ p_promotion.product_promotion_start }}
                                        </td>
                                        <td>
                                            {{ p_promotion.product_promotion_end }}
                                        </td>
                                        <td>
                                            {{ p_promotion.discount }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Khuyễn mãi sắp diễn ra</h4>
                        <a href="" class="btn btn-secondary pull-right">Mới</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="col-id">ID</th>
                                    <th class="col-name">Thời gian bắt đầu</th>
                                    <th class="col-url">Thời gian kết thúc</th>
                                    <th class="col-url">Giảm giá</th>
                                </thead>
                                <tbody>
                                {% for p_promotion in list_p_promotion_is_running %}
                                    <tr onclick="window.location='';">
                                        <td>
                                            {{ p_promotion.product_promotion_id }}
                                        </td>
                                        <td>
                                            {{ p_promotion.product_promotion_start }}
                                        </td>
                                        <td>
                                            {{ p_promotion.product_promotion_end }}
                                        </td>
                                        <td>
                                            {{ p_promotion.discount }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Khuyễn mãi sắp diễn ra</h4>
                        <a href="" class="btn btn-secondary pull-right">Mới</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="col-id">ID</th>
                                    <th class="col-name">Thời gian bắt đầu</th>
                                    <th class="col-url">Thời gian kết thúc</th>
                                    <th class="col-url">Giảm giá</th>
                                </thead>
                                <tbody>
                                {% for p_promotion in list_p_promotion_is_running %}
                                    <tr onclick="window.location='';">
                                        <td>
                                            {{ p_promotion.product_promotion_id }}
                                        </td>
                                        <td>
                                            {{ p_promotion.product_promotion_start }}
                                        </td>
                                        <td>
                                            {{ p_promotion.product_promotion_end }}
                                        </td>
                                        <td>
                                            {{ p_promotion.discount }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}