{% extends 'private/base.html' %}
{% load static %}
{% block section %}
<style>

</style>
<div class="content">
    {% include 'private/message.html' %}
    <div class="container-fluid">
        <div class="row">
        <a href="{% url 'product-detail' product_id=product.product_id %}" class="btn btn-primary pull-left">
            Quay lại
        </a>
        </div>
        <div class="row">
            {% for product_image in list_product_image %}
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-primary">
                        <button type="submit" class="btn btn-secondary pull-right">Xóa</button>
                    </div>
                    <div class="card-body">
                    </div>
                    <img src="/{{product_image.product_image_path}}" 
                        alt="{{product_image.product_image_name}}"
                        class="img-fluid">
                </div>
            </div>
            {% endfor %}
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-primary">
                        <button type="submit" class="btn btn-secondary pull-right">Thêm</button>
                    </div>
                    <div class="card-body">
                        <form>
                            <input type="file"
                                id="image-header"
                                class="form-control-file custom-file-input"
                                name="category-image" 
                                accept="image/png, image/jpeg, image/webp, image/apng, image/gif"
                                onchange="document.getElementById('image-category-preview').src = window.URL.createObjectURL(this.files[0]);
                                        document.getElementById('image-category-preview').classList.remove('d-none');"
                                required
                                >
                            <label class="custom-file-label" for="inputGroupFile01">Ảnh đuôi .png, .webp, .jpg</label>
                        </form>
                    </div>
                    <img src="" 
                        alt=""
                        class="img-fluid" id="image-category-preview">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/webjs/fetchdata.js' %}"></script>
<script type="text/javascript">
    
</script>
{% endblock %}